<div class="jumbotron bg-custom">
   <form action="/user/login" method="POST">
      <h1>Log in</h1>
      <div class="form-group">
         <label for="email" class="lead">Email</label>
         <input type="email" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
         <label for="password" class="lead">Senha</label>
         <input type="password" name="password" id="senha" class="form-control">
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-primary">
            Entrar
         </button>
      </div>
   </form>
   <center>
      <h6>OU</h6>
      <br>
      <a href="/user/login/google" class="btn btn-danger">Entre com o google</a>
   </center>
</div>
<script src="/js/bgColor.js"></script>